/*------------------------------------*\
    #GRID
\*------------------------------------*/
.grid{
	padding: 20px 0; margin-top: 100vh;
	.transition;
}





/*------------------------------------*\
    #IMAGES
\*------------------------------------*/

.square{

}
.square{
	height: 0;
	padding-bottom: 80%;
}




/*------------------------------------*\
    #ITEMS
\*------------------------------------*/

.item{
	padding: 10px;
	color: @light;
	position: relative;
}

.item__header{
	width: 100%;
	position: absolute; top: 0; left: 0;
}

.item__footer{
	position: absolute;
	left: 0; bottom: 0;
}

.item__name{

}

.item__share{
	position: absolute; top: 10px; right: 10px;
}

.item__title{

}





/*------------------------------------*\
    #MEDIUM
\*------------------------------------*/

@media (min-width: @medium) {

	.item{
		padding: 20px;
	}

	.item__share{
		top: 20px; right: 20px;
	}

}




/*------------------------------------*\
	#GRID STATES
\*------------------------------------*/
.grid.closed{

	margin-top: 150px;


	/**
	 * small
	**/
	@media (min-width: @small) {
	}

	/**
	 * small & landscape
	**/
	@media (min-width: @small) and (orientation: landscape) {
		margin-top: 100px;
	}

	/**
	 * medium
	**/
	@media (min-width: @medium) {
		margin-top: 300px;
	}

	/**
	 * medium & landscape
	**/
	@media (min-width: @medium) and (orientation: landscape) {
		margin-top: 150px;
	}

	/**
	 * large
	**/
	@media (min-width: @large) {
		margin-top: 300px;
	}

}