/*------------------------------------*\
    #GRID
\*------------------------------------*/
.grid{
	padding: 20px 0;
	.transition(all .5s cubic-bezier(0.22, 0.61, 0.36, 1));
}

.home .grid{
	margin-top: 100vh;
	background: url('images/bg.png') repeat #fff;
}

.page .grid{
	padding: 0;
}





/*------------------------------------*\
    #IMAGES
\*------------------------------------*/

.square{

}
.square{
	height: 0;
	padding-bottom: 80%;
}




/*------------------------------------*\
    #ITEMS
\*------------------------------------*/

.item{
	padding: 10px;
	color: @light;
	position: relative;
}

.item__header{
	width: 100%;
	position: absolute; top: 0; left: 0;
}

.item__footer{
	position: absolute;
	left: 0; bottom: 0;
}

.item__name{

}

.item__share{
	position: absolute; top: 10px; right: 10px;
}

.item__title{

}





/*------------------------------------*\
    #MEDIUM
\*------------------------------------*/

@media (min-width: @medium) {

	.item{
		padding: 20px;
	}

	.item__share{
		top: 20px; right: 20px;
	}

}




/*------------------------------------*\
	#GRID STATES
\*------------------------------------*/
.grid.closed{
	padding-top: 45px; margin-top: 45px;
}